.panel-body {
    
    background: rgba(0,0,0,.8);
  
    
    
}
.panel > .panel-heading {
    background-image: none;
    background-color: black;
    color: white;

}

.col-form-label{
    
    color:white;
}